In [33]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

In [34]:
qqq_prices = pd.read_csv("Data/dataset1.csv", header=0)
qqq_prices = qqq_prices[1:]
qqq_prices.head(10)

,Date,Return,Realized_Volatility,Volume,VIX,RSI_14,VXN,FedRate
1,2018-02-22,-0.000122,0.283917,37074400,18.719999313354492,45.694807,20.90999984741211,1.6050000190734863
2,2018-02-23,0.020449,0.292775,50096900,16.489999771118164,54.847494,18.15999984741211,1.6050000190734863
3,2018-02-26,0.013260,0.296289,39266700,15.800000190734863,68.915601,18.1200008392334,1.6080000400543213
4,2018-02-27,-0.012383,0.294650,42209900,18.59000015258789,59.842025,20.489999771118164,1.6349999904632568
5,2018-02-28,-0.006417,0.294986,42936300,19.850000381469727,61.920940,22.010000228881836,1.6180000305175781
6,2018-03-01,-0.016327,0.298914,76809900,22.469999313354492,71.772822,24.739999771118164,1.590000033378601
7,2018-03-02,0.009180,0.300518,57445100,19.59000015258789,70.442520,21.530000686645508,1.6050000190734863
8,2018-03-05,0.011085,0.301846,38540200,18.729999542236328,69.260689,20.600000381469727,1.625
9,2018-03-06,0.004231,0.293070,29480900,18.360000610351562,69.114625,20.600000381469727,1.6430000066757202
10,2018-03-07,0.002314,0.252926,34609400,17.760000228881836,65.207063,20.43000030517578,1.649999976158142

In [35]:
qqq_options = pd.read_csv("Data/qqq_option_data_2018_2023.csv", header=0)
qqq_options.head(10)

,date,exdate,cp_flag,strike_price,delta,gamma,impl_volatility,best_bid,best_offer,volume,open_interest,optionid,secid
0,2018-01-02,2018-02-02,C,148500.0,0.892498,0.021384,0.186879,10.49,10.70,4.0,40.0,118524041.0,107899.0
1,2018-01-02,2018-02-02,C,149500.0,0.875178,0.024551,0.181047,9.61,9.73,2.0,12.0,118524043.0,107899.0
2,2018-01-02,2018-02-02,C,153000.0,0.791621,0.039376,0.157560,6.48,6.56,3.0,42.0,118524049.0,107899.0
3,2018-01-02,2018-02-02,C,153500.0,0.776244,0.042127,0.153491,6.05,6.11,11.0,98.0,118524050.0,107899.0
4,2018-01-02,2018-02-02,C,154000.0,0.758090,0.044900,0.150400,5.63,5.69,20.0,91.0,118524051.0,107899.0
5,2018-01-02,2018-02-02,C,154500.0,0.738672,0.047811,0.147127,5.22,5.27,11.0,50.0,118524052.0,107899.0
6,2018-01-02,2018-02-02,C,155000.0,0.717501,0.050793,0.143971,4.81,4.87,22.0,72.0,118524053.0,107899.0
7,2018-01-02,2018-02-02,C,156000.0,0.669563,0.056786,0.138024,4.04,4.09,24.0,46.0,118524055.0,107899.0
8,2018-01-02,2018-02-02,C,156500.0,0.643388,0.059961,0.134537,3.66,3.71,66.0,80.0,118524056.0,107899.0
9,2018-01-02,2018-02-02,C,157000.0,0.614649,0.062772,0.131780,3.31,3.35,111.0,593.0,118524057.0,107899.0

In [36]:
zero_coupon_rates = pd.read_csv("Data/zero_coupon_rates_2018_2023.csv")
zero_coupon_rates.head(10)

         date   days      rate
0  2018-01-02    7.0  1.501048
1  2018-01-02   15.0  1.527942
2  2018-01-02   50.0  1.649744
3  2018-01-02   78.0  1.683121
4  2018-01-02  106.0  1.717587
5  2018-01-02  134.0  1.748227
6  2018-01-02  169.0  1.782660
7  2018-01-02  260.0  1.850775
8  2018-01-02  351.0  1.913646
9  2018-01-02  442.0  1.972431

In [38]:
# Filter options to near-term expiry (e.g., within 30 days) and ATM (within 2% of QQQ price)
hedge_results = []

# Sample notional portfolio value
notional_value = 1_000_000

for current_date in sorted(qqq_prices['Date'].unique()):
    # Get QQQ price for the day
    price_row = qqq_prices[qqq_prices['Date'] == current_date]
    if price_row.empty or 'QQQ' not in price_row.columns:
        continue

    try:
        qqq_price = float(price_row['QQQ'].values[0])
    except:
        continue

    if np.isnan(qqq_price):
        continue

    shares_held = notional_value / qqq_price
    portfolio_delta = shares_held * 1.0  # QQQ delta = 1
    portfolio_gamma = 0.0  # Assume no gamma in ETF

    # Filter options for that date and within 30 days to expiry
    option_slice = qqq_options[(qqq_options['date'] == current_date)]
    option_slice = option_slice[option_slice['exdate'] <= current_date + timedelta(days=30)]

    if option_slice.empty:
        continue

    # Find ATM options (strike within 2% of QQQ price)
    atm_range = (qqq_price * 0.98, qqq_price * 1.02)
    atm_options = option_slice[(option_slice['strike_price'] >= atm_range[0] * 1000) &
                               (option_slice['strike_price'] <= atm_range[1] * 1000)]

    if atm_options.empty:
        continue

    # Pick the nearest expiry call and put
    calls = atm_options[atm_options['cp_flag'] == 'C'].sort_values(by='exdate')
    puts = atm_options[atm_options['cp_flag'] == 'P'].sort_values(by='exdate')

    if calls.empty or puts.empty:
        continue

    call_option = calls.iloc[0]
    put_option = puts.iloc[0]

    # Get Greeks
    delta_call = call_option['delta']
    gamma_call = call_option['gamma']
    delta_put = put_option['delta']
    gamma_put = put_option['gamma']

    try:
        A = np.array([[delta_call, delta_put],
                      [gamma_call, gamma_put]])
        b = np.array([-portfolio_delta, -portfolio_gamma])

        hedge_weights = np.linalg.solve(A, b)
        num_calls, num_puts = round(hedge_weights[0]), round(hedge_weights[1])

        # Estimate hedge cost = average of bid/ask * contracts * 100 (per contract multiplier)
        call_price = (call_option['best_bid'] + call_option['best_offer']) / 2
        put_price = (put_option['best_bid'] + put_option['best_offer']) / 2
        hedge_cost = (abs(num_calls) * call_price + abs(num_puts) * put_price) * 100

        hedge_results.append({
            'date': current_date,
            'qqq_price': qqq_price,
            'num_calls': num_calls,
            'num_puts': num_puts,
            'call_strike': call_option['strike_price'] / 1000,
            'put_strike': put_option['strike_price'] / 1000,
            'call_expiry': call_option['exdate'],
            'put_expiry': put_option['exdate'],
            'call_price': call_price,
            'put_price': put_price,
            'hedge_cost': hedge_cost
        })
    except np.linalg.LinAlgError:
        continue

hedge_df = pd.DataFrame(hedge_results)
hedge_df

Empty DataFrame
Columns: []
Index: []

In [39]:
hedge_df

Empty DataFrame
Columns: []
Index: []